<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>New Message</h1>
        <form method="POST" action="/new">
            <label for="name">Name:</label>
            <input type="text" id="name" name="user" required>
            
            <label for="message">Message:</label>
            <input type="text" id="message" name="text" required>
            
            <button type="submit">Submit</button>
            <a href="/" class="button">Back</a>
        </form>
        
    </div>
</body>
</html>
